/**************NAVBAR***************/
//*jkasdlkjads*//
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: pink;

    .logo {
        border-radius: 50%;
        margin-left: 5px;

    }

    h1{
        font-size: 40px;
        text-decoration: underline ;
    }

    ul li {
        display: inline-block;
        padding: 0px 20px;

        a {
            text-decoration: none;
            color: black;
        }
        .active{
            text-decoration: overline;
        }
    }

    a:hover {
        color: aqua;
        transform: scale(1.2);
    }
}
.logo:hover{
    transform: scale(1.1);
}
/**************NAVBAR***************/

/**************MAIN***************/

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: pink;
}
input,
textarea{
    display: block;
    width: 40%;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}
.botones{
background-color: #f771eb;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
font-size: 18px;
cursor: pointer;
margin-top: 10px;
}
.formulario{
    background: rgb(250,98,164);
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding-bottom: 4rem !important;
background: linear-gradient(90deg, rgba(250,98,164,1) 0%, rgba(250,98,164,1) 12%, rgba(148,187,233,1) 91%);
    margin-bottom: -10px;
    -webkit-animation:puff-in-hor .7s cubic-bezier(.47,0.000,.745,.715) both;animation:puff-in-hor .7s cubic-bezier(.47,0.000,.745,.715) both;

}
/**************MAIN***************/

/**********KEYFRAMES***********/

 @-webkit-keyframes puff-in-hor{0%{-webkit-transform:scaleX(2);transform:scaleX(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-hor{0%{-webkit-transform:scaleX(2);transform:scaleX(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}