///////*BARRA DE NAVEGACION*///////
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: pink;

    .logo {
        border-radius: 50%;
        margin-left: 5px;

    }

    h1{
        font-size: 40px;
        text-decoration: underline ;
    }

    ul li {
        display: inline-block;
        padding: 0px 20px;

        a {
            text-decoration: none;
            color: black;
        }
        .active{
            text-decoration: overline;
        }
    }

    a:hover {
        color: aqua;
        transform: scale(1.2);
    }
}
.logo:hover{
    transform: scale(1.1);
}
///////*BARRA DE NAVEGACION*///////

//////*MAIN*///////
form{
    margin-top: 20px;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: pink;
}
input,
textarea{
    display: block;
    width: 40%;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}
.botones{
background-color: #78d0f8;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
font-size: 18px;
cursor: pointer;
margin-top: 10px;
}
.formulario{
    margin-left: 600px;
}
//////*MAIN*///////