.home {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}

//////*PAGINA GRID*//////
.sobre-mi {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #b3dee2;

    .sobre-mi-link {
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
}


.reiki {
    background-color:  #e27396;

    .reiki-link {
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
}

.ubicacion {
    background-color: #efcfe3;
    .ubicacion-link {
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
}

.home-home {
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: #eaf2d7;
    .home-link {
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
}

.meditaciones {
    background-color:  #ea9ab2;

    .meditaciones-link {
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
}

.contacto {
    background-color: #c7a2b9;

    .contacto-link {
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
}

//////*PAGINA GRID*//////

.home>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

//////*HOVER*//////
.home-home:hover {
    transform: scale(1.1);
    border-radius: 15px;
}

.sobre-mi:hover {
    transform: scale(1.1);
    border-radius: 15px;
    color: greenyellow;
}

.ubicacion:hover {
    transform: scale(1.1);
    border-radius: 15px;
}

.meditaciones:hover {
    transform: scale(1.1);
    border-radius: 15px;
}

.contacto:hover {
    transform: scale(1.1);
    border-radius: 15px;
}

.reiki:hover {
    transform: scale(1.1);
    border-radius: 15px;
}

//////*HOVER*//////

//////*MEDIAQUERIES*//////

//////*MEDIAQUERIES*//////