///////*BARRA DE NAVEGACION*///////
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: pink;

    .logo {
        border-radius: 50%;

    }

    h1{
        font-size: 40px;
        text-decoration: underline ;
    }

    ul li {
        display: inline-block;
        padding: 0px 20px;

        a {
            text-decoration: none;
            color: black;
        }
        .active{
            text-decoration: overline;
        }
    }

    a:hover {
        color: aqua;
        transform: scale(1.2);
    }
}
.logo:hover{
    transform: scale(1.1);
}
///////*BARRA DE NAVEGACION*///////

//////*MAIN*//////
.meditar-texto{
    display: block;
    text-align: center;

    h2, h3{
        background-color: pink;
        text-decoration: underline double;
    }

    p{
        font-size: large;
    }

    .meditaciones-iframes{
        display: flex;
        justify-content: space-between;
    }

}

footer{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
//////*MAIN*//////