/********************NAVBAR********************/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: pink;

    .logo {
        border-radius: 50%;
        border-color: red;

    }

    h1{
        font-size: 40px;
        text-decoration: underline ;
    }

    ul li {
        display: inline-block;
        padding: 0px 20px;

        a {
            text-decoration: none;
            color: black;
        }
        .active{
            text-decoration: overline;
        }
    }

    a:hover {
        color: aqua;
    }
}
.logo:hover{
    transform: scale(1.1);
}
/********************NAVBAR********************/
.tarjetitas {
    padding: 60px;
    display: flex;
    gap: 30px;
}

.tarjetita_reiki {
    background-color: rgb(106, 211, 252);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.informacion {
    padding: 0 20px 20px 20px;
}

.tarjetita__imagen {
    max-width: 100%;
    height: 1000px;
}

.tarjetitados {
    flex: 1.0;
}