/**************NAVBAR***************/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: pink;

    .logo {
        border-radius: 50%;
        border-color: red;

    }

    h1{
        font-size: 40px;
        text-decoration: underline ;
    }

    ul li {
        display: inline-block;
        padding: 0px 20px;

        a {
            text-decoration: none;
            color: black;
        }
        .active{
            text-decoration: overline;
        }
    }

    a:hover {
        color: aqua;
        transform: scale(1.2);
    }
}
.logo:hover{
    transform: scale(1.1);
}
/**************NAVBAR***************/

/*********************MAIN********************/
h1{
    text-align: center;
}

.areax{
    margin: 20px;
    border: 4px solid #333;
    border-radius: 10px;

}
.predio {

    width: 100%;
    height: auto;
    justify-content: center;
}
.area-iframe{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    -webkit-animation:tilt-in-left-1 .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-left-1 .6s cubic-bezier(.25,.46,.45,.94) both;

    @include mobile{
        width: 100%;
    height: 100%;
    justify-content: center;
    }
}

@media (max-width: 768px) {
    .area-iframe {
        
    }
}

/*********************MAIN********************/

/*---------------KEYFRAMES-----------------*/

@-webkit-keyframes tilt-in-left-1{0%{-webkit-transform:rotateX(-30deg) translateX(-300px) skewX(-30deg);transform:rotateX(-30deg) translateX(-300px) skewX(-30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}@keyframes tilt-in-left-1{0%{-webkit-transform:rotateX(-30deg) translateX(-300px) skewX(-30deg);transform:rotateX(-30deg) translateX(-300px) skewX(-30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}