/**************NAVBAR***************/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: pink;

    .logo {
        border-radius: 50%;
        border-color: red;

    }

    h1{
        font-size: 40px;
        text-decoration: underline ;
    }

    ul li {
        display: inline-block;
        padding: 0px 20px;

        a {
            text-decoration: none;
            color: black;
        }
        .active{
            text-decoration: overline;
        }
    }

.ul-inicio:hover,
.ul-sobremi:hover,
.ul-reiki:hover,
.ul-meditaciones:hover,
.ul-ubicacion:hover,
.ul-contacto:hover:hover {
        color: aqua;
        
    }
}
.logo:hover{
    transform: scale(1.1);
}
/**************NAVBAR***************/

/*********************MAIN********************/
h2{
    text-align: center;
}

.areax{
    display: grid; grid-template-columns:
     repeat(
        auto-fit,
        minmax (150px, 1fr) );
        gap: 32px;
        padding: 100px;
        
}
div >img{
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px black;
    transition: .3s;
}
.imggallery:hover{
    transform: scale(0.9);
}
.predio {

    width: 100%;
    height: auto;
    justify-content: center;
}
.area-iframe{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    -webkit-animation:tilt-in-left-1 .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-left-1 .6s cubic-bezier(.25,.46,.45,.94) both;

    @include mobile{
    width: 100%;
    height: 100%;
    justify-content: center;
    }
}

/*********************MAIN********************/

/*---------------KEYFRAMES-----------------*/

@-webkit-keyframes tilt-in-left-1{0%{-webkit-transform:rotateX(-30deg) translateX(-300px) skewX(-30deg);transform:rotateX(-30deg) translateX(-300px) skewX(-30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}@keyframes tilt-in-left-1{0%{-webkit-transform:rotateX(-30deg) translateX(-300px) skewX(-30deg);transform:rotateX(-30deg) translateX(-300px) skewX(-30deg);opacity:0}100%{-webkit-transform:rotateX(0deg) translateX(0) skewX(0deg);transform:rotateX(0deg) translateX(0) skewX(0deg);opacity:1}}