* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.sobre-mi {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #b3dee2;
}
.sobre-mi .sobre-mi-link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.reiki {
  background-color: #e27396;
}
.reiki .reiki-link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.ubicacion {
  background-color: #efcfe3;
}
.ubicacion .ubicacion-link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.home-home {
  grid-column: 3/5;
  grid-row: 1/2;
  background-color: #eaf2d7;
}
.home-home .home-link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.meditaciones {
  background-color: #ea9ab2;
}
.meditaciones .meditaciones-link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.contacto {
  background-color: #c7a2b9;
}
.contacto .contacto-link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.home > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-home:hover {
  transform: scale(1.1);
  border-radius: 15px;
}

.sobre-mi:hover {
  transform: scale(1.1);
  border-radius: 15px;
  color: greenyellow;
}

.ubicacion:hover {
  transform: scale(1.1);
  border-radius: 15px;
}

.meditaciones:hover {
  transform: scale(1.1);
  border-radius: 15px;
}

.contacto:hover {
  transform: scale(1.1);
  border-radius: 15px;
}

.reiki:hover {
  transform: scale(1.1);
  border-radius: 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  background-color: pink;
}
nav .logo {
  border-radius: 50%;
  margin-left: 5px;
}
nav h1 {
  font-size: 40px;
  text-decoration: underline;
}
nav ul li {
  display: inline-block;
  padding: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li .active {
  text-decoration: overline;
}
nav a:hover {
  color: aqua;
  transform: scale(1.2);
}

.logo:hover {
  transform: scale(1.1);
}

form {
  margin-top: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: pink;
}

input,
textarea {
  display: block;
  width: 40%;
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.botones {
  background-color: #78d0f8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.formulario {
  margin-left: 600px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  background-color: pink;
}
nav .logo {
  border-radius: 50%;
  margin-left: 25px;
}
nav h1 {
  font-size: 40px;
  text-decoration: underline;
}
nav ul li {
  display: inline-block;
  padding: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li .active {
  text-decoration: overline;
}
nav a:hover {
  color: aqua;
  transform: scale(1.2);
}

.logo:hover {
  transform: scale(1.1);
}

.meditar-texto {
  display: block;
  text-align: center;
}
.meditar-texto h2, .meditar-texto h3 {
  background-color: pink;
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}
.meditar-texto p {
  font-size: large;
}
.meditar-texto .meditaciones-iframes {
  display: flex;
  justify-content: space-between;
}

.meditaciones-iframes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}
.meditaciones-iframes .iframe3 {
  display: flex;
  flex-direction: column;
}

.iframe-container {
  border: 2px solid red;
}

.iframe-container iframe {
  width: 100%;
  height: 500px;
}

footer {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: pink;
}
nav .logo {
  border-radius: 50%;
  border-color: red;
}
nav h1 {
  font-size: 40px;
  text-decoration: underline;
}
nav ul li {
  display: inline-block;
  padding: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li .active {
  text-decoration: overline;
}
nav a:hover {
  color: aqua;
}

.logo:hover {
  transform: scale(1.1);
}

.tarjetitas {
  padding: 60px;
  display: flex;
  gap: 30px;
}

.tarjetita_reiki {
  background-color: rgb(106, 211, 252);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.informacion {
  padding: 0 20px 20px 20px;
}

.tarjetita__imagen {
  max-width: 100%;
  height: 1000px;
}

.tarjetitados {
  flex: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}
nav .logo {
  border-radius: 50%;
  border-color: red;
}
nav h1 {
  font-size: 40px;
  text-decoration: underline;
}
nav ul li {
  display: inline-block;
  padding: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li .active {
  text-decoration: overline;
}
nav a:hover {
  color: aqua;
  transform: scale(1.2);
}

.logo:hover {
  transform: scale(1.1);
}

.tarjetitas {
  padding: 60px;
  display: flex;
  gap: 30px;
}

.tarjetita {
  background-color: pink;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.informacion {
  padding: 0 20px 20px 20px;
}

.tarjetita__imagen {
  max-width: 100%;
  height: 1000px;
}

.tarjetitados {
  flex: 1;
}

.tarjetita__titulo {
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(255, 110, 225) 0%, rgb(202, 131, 231) 57%, rgb(0, 212, 255) 100%);
  padding-bottom: 10px;
}

footer {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  background-color: pink;
}
nav .logo {
  border-radius: 50%;
  border-color: red;
}
nav h1 {
  font-size: 40px;
  text-decoration: underline;
}
nav ul li {
  display: inline-block;
  padding: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li .active {
  text-decoration: overline;
}
nav a:hover {
  color: aqua;
  transform: scale(1.2);
}

.logo:hover {
  transform: scale(1.1);
}

.areax {
  margin: 20px;
  border: 4px solid #333;
  border-radius: 10px;
}

.predio {
  width: 100%;
  height: auto;
  justify-content: center;
}

.area-iframe {
  display: inline-block;
  margin: 20px;
  border: 4px solid #333;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */